<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coffee Shop</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <!-- React + Babel CDN -->
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
  <div id="root"></div>

  <script type="text/babel">
    const { useState } = React;

    const coffeeMenu = [
      { name: "Espresso", price: "$3", img: "/static/images/espresso.png" },
      { name: "Latte", price: "$4", img: "/static/images/latte.png" },
      { name: "Cappuccino", price: "$4.5", img: "/static/images/cappucchino.png" },
      { name: "Macha", price: "$5", img: "/static/images/matcha.png" },
      { name: "Hot Chocolate", price: "$5", img: "/static/images/hotchocolate.png" },
      { name: "Chai", price: "$3", img: "/static/images/chai.png" },
      { name: "Affogato", price: "$3", img: "/static/images/affogato.png" },
      { name: "Cold Brew", price: "$3", img: "/static/images/coldbrew.png" },
      { name: "Iced Coffee", price: "$5", img: "/static/images/icedcoffee.png" },
      { name: "Iced Americano", price: "$5", img: "/static/images/icedamericano.png" },
      { name: "Iced Mocha Latte", price: "$5", img: "/static/images/icedmochalatte.png"},
      { name: "Iced Matcha Latte", price: "$5", img: "/static/images/icedmatchalatte.png" }
    ];

    function Toast({ message }) {
      return <div id="toast" className="toast show">{message}</div>;
    }

    function App() {
      const [toastMsg, setToastMsg] = useState("");

      const showToast = (msg) => {
        setToastMsg(msg);
        setTimeout(() => setToastMsg(""), 2000);
      };

      const orderCoffee = async (coffee) => {
        const res = await fetch('/order', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ coffee })
        });
        const data = await res.json();
        showToast(data.message);
      };

      return (
        <div className="menu">
          {coffeeMenu.map((item, idx) => (
            <div className="coffee-item" key={idx}>
              <img src={item.img} alt={item.name} />
              <h3>{item.name}</h3>
              <p>{item.price}</p>
              <button onClick={() => orderCoffee(item.name)}>Order</button>
            </div>
          ))}
          {toastMsg && <Toast message={toastMsg} />}
        </div>
      );
    }

    const root = ReactDOM.createRoot(document.getElementById('root'));
    root.render(<App />);
  </script>
 
</body>
</html>
